/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: MAIN hp
:: Page Name 2
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* -----------------------------------------
   MAIN hp
----------------------------------------- */
html {
	background: url(../images/full_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{background: none; }

header{ margin-top:35px;}

h1,h2,h3,h4{font-weight:200;}
.info{display:none;}
.infofuzz{ position:absolute; margin-left:470px; margin-top:-70px; width: 90px; height:90px;}

ul.button-group li{ 
	margin: 0 3px; padding: 9px; /*background-color: #ff9; */
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 0;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 0;
	
	}

.portfolio{ position:relative; margin:8px;}
	
.cover {
	    background-color: yellow;
		    display: none;
		    height: 360px;
		    left: 0;
		    padding: 15px;
		    position: absolute;
		    top: 0;
		    width: 540px;
	}
	
	footer {
	 background: none repeat scroll 0 0 #000000;
	    bottom: 0;
	    left: 0;
	    position: fixed;
	width:100%;
	}

	/* IE 6 */
	* html footer {
	   position:absolute;
	   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
	}

	