/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: MAIN hp
:: Page Name 2
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
/* -----------------------------------------
   MAIN hp
----------------------------------------- */
html {
	background: url(../images/full_bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{background: none; }

header{ margin-top:35px;}

h1,h2,h3,h4{font-weight:200;}
.info{display:none;}
.infofuzz{ position:absolute; margin-left:470px; margin-top:-70px; }

ul.button-group li{ 
	margin: 0 3px; padding: 9px; background-color: #ff9; 
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 0;

	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 0;
	
	}
.img-lift{margin:15px; }

.hi-there{color:#222;}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */

/* Mobile Grid and Overrides ---------------------- */
@media only screen and (max-width: 767px) {
	
div.orbit-wrapper div.timer {
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: .6;
  cursor: pointer;
  z-index: 31;
}

}

